boto3==1.20.26
botocore==1.23.26
Django==4.0
django-allauth==0.47.0
django-countries==7.2.1
django-crispy-forms==1.13.0
django-heroku==0.3.1
django-storages==1.12.3
django-user-visit==0.5.1
docutils==0.15.2
gunicorn==20.1.0
Pillow==8.4.0
psycopg2==2.9.2
requests==2.20.1
stripe==2.64.0
urllib3==1.26.7
user-agents==2.2.0
whitenoise==4.1.3
