{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Request Refund
{% endblock title %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'core/plugins/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/single_responsive.css' %}">
{% endblock extrastyle %}


{% block content %}
<div class="container single_product_container">
  <div class="row">
    <div class="col-lg-12">
      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li class="active"><a href="javascirpt:void(0);">Support</a></li>
          <li class="active"><a href="javascirpt:void(0);"><i class="fa fa-angle-right" aria-hidden="true"></i>Request Refund</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% include 'core/assets/messages.html' %}
  <div class="row">
    <div class="col-6 m-auto">
      <h3>Request Refund</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn text-white btn-warning">Submit</button>
    </form>
    </div>
  </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'core/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'core/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'core/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'core/plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'core/plugins/easing/easing.js' %}"></script>
<script src="{% static 'core/plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'core/js/single_custom.js' %}"></script>
{% endblock extrascripts %}