{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}
Coupon
{% endblock %}
{% block head %}
<style>
.card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
hr {
  margin: 1.5rem 0;
}
.card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}
.card-price {
  font-size: 3rem;
  margin: 0;
}
.card-price .period {
  font-size: 0.8rem;
}
.text-muted {
  opacity: 0.7;
}
@media (min-width: 992px) {
  .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .card:hover .btn {
    opacity: 1;
  }
}
</style>
{% endblock head %}
{% block content %}
<main class="mt-5 pt-5">
  <div class="container py-5">
    {% include 'core/messages.html' %}
    <section class="mb-4">
      <!--<div class="row wow fadeIn">
        <div class="col-3 m-auto">
            <div class="card zoom shadow">
                <img src="{% static 'img/coupon.png' %}" class="m-auto py-2" width="30%" height="30%" alt="Coupon Icon" />
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">{{ object.code }}</h5>
                    <h6 class="text-center"><span class="font-weight-bold" style="font-size: xx-large;">${{ object.amount }}</span></h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <a href="{% url 'core:coupon-update' object.id %}" class="btn btn-lg btn-warning my-5" style="border-radius: 2rem;">Update</a>
            <a href="{% url 'core:coupon-delete' object.id %}" class="btn btn-lg btn-warning my-5" style="border-radius: 2rem;">Delete</a>
        </div>
      </div>-->
      <div class="row">
        <div class="col-lg-4 m-auto coupon">
          <div class="mb-5 mb-lg-0">
            <div class="">
              <h5 class="card-title text-muted text-uppercase text-center">{{ object.code }}</h5>
              <h6 class="card-price text-center">${{ object.amount }}<span class="period">/order</span></h6>
              <hr>
              <div class="row">
                <div class="col-6 m-auto">
                  <a href="{% url 'core:coupon-update' object.id %}" class="btn btn-lg btn-warning my-5" style="border-radius: 2rem;">Update</a>
                </div>
                <div class="col-6 m-auto">
                  <a href="{% url 'core:coupon-delete' object.id %}" class="btn btn-lg btn-warning my-5" style="border-radius: 2rem;">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock extra_scripts %}