{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Shop Popsis
{% endblock title %}

{% block content %}
<div class="main_slider" style="background-image:url({% static 'core/images/slider_1.jpg' %})">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6>Exclusive Collection 21'</h6>
          <h1>Hand crafted bags made in Trinidad and Tobago</h1>
          <div class="red_button shop_now_button"><a href="{% url 'core:shop-catalog' %}">shop now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->
{% if categories %}
<div class="banner">
  <div class="container">
    {% include 'core/assets/messages.html' %}
    <div class="row">
      {% for cat in categories %}
      <div class="col-md-4">
        <div class="banner_item align-items-center" style="background-image:url({{ cat.image.url }})">
          <div class="banner_category">
            <a href="{% url 'core:shop-catalog' %}?category_choice={{cat.id}}">{{ cat.category_choice }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="best_sellers">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>View Catalog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="product_slider_container">
          <div class="owl-carousel owl-theme product_slider">
            {% for item in items %}
            <div class="owl-item product_slider_item">
              <div class="product-item">
                <div class="product discount">
                  <div class="product_image">
                    <img src="{{ item.image.url }}" alt="{{ item.title }} Image">
                  </div>
                  {% if item.discount_price %}
                  <div
                    class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                    <span class="uppercase">SALE</span></div>
                  {% endif %}
                  <div class="product_info">
                    <h6 class="product_name"><a href="{% url 'core:product' item.slug %}">{{ item.title }}</a></h6>
                    {% if item.discount_price %}
                    <div class="product_price">${{ item.discount_price }}<span>${{ item.price }}</span></div>
                    {% else %}
                    <div class="product_price">${{ item.price }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <!-- Slider Navigation -->

          <div
            class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div
            class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'core/assets/deal_week.html' %}
{% include 'core/assets/benefits.html' %}

<!-- Style -->
<!--<div class="blogs">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title">
          <h2>Style</h2>
        </div>
      </div>
    </div>
    <div class="row blogs_container">
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div class="blog_background" style="background-image:url({% static 'core/images/blog_1.jpg' %})"></div>
          <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
            <h4 class="blog_title">Here are the trends I see coming this fall</h4>
            <span class="blog_meta">by admin | dec 01, 2017</span>
            <a class="blog_more" href="#">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div class="blog_background" style="background-image:url({% static 'core/images/blog_2.jpg' %})"></div>
          <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
            <h4 class="blog_title">Here are the trends I see coming this fall</h4>
            <span class="blog_meta">by admin | dec 01, 2017</span>
            <a class="blog_more" href="#">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog_item_col">
        <div class="blog_item">
          <div class="blog_background" style="background-image:url({% static 'core/images/blog_3.jpg' %})"></div>
          <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
            <h4 class="blog_title">Here are the trends I see coming this fall</h4>
            <span class="blog_meta">by admin | dec 01, 2017</span>
            <a class="blog_more" href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

{% include 'core/assets/newsletter.html' %}
{% endblock content %}
