{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
{% endblock head %}
{% block content %}
<main class="mt-5 pt-5">
    <div class="container py-5">
        {% include 'core/messages.html' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="py-5">Item</h1>
                <form method="POST" class="uniForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.inventory|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.label|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form.price|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.discount_price|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.additional_info|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-3">
                            {{ form.image|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.image_sub_one|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.image_sub_two|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.image_sub_three|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-warning" style="border-radius: 2rem;" type="submit">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}