{% load cart_template_tags %}
{% load static %}
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar shadow">
    <div class="container">
        <a class="navbar-brand waves-effect d-flex" href="{% url 'core:home' %}">
            <img src="{% static 'img/popsis_logo.png' %}" width="150px" height="50px" alt="Shop Popsis Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--center menu-->
            <!--
            <ul class="navbar-nav mr-auto ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="dropdown">
                      Shop
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow px-auto" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'core:shop-earrings' %}">Earrings</a>
                        <a class="dropdown-item" href="{% url 'core:shop-lipgloss' %}">Lip Gloss</a>
                        <a class="dropdown-item" href="{% url 'core:shop-bags' %}">Bags</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New Arrivals</a>
                    </div>
                </li>
            -->
            </ul>

            <!--right menu-->
            <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }}</span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-sm-inline-block">Cart</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'users:profile' %}">
                        <span class="clearfix d-sm-inline-block"> Profile </span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'dashboard:dashboard' %}">
                        <span class="clearfix d-sm-inline-block"> Dashboard </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'users:logout' %}">
                        <span class="clearfix d-sm-inline-block">Logout</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'users:login' %}">
                        <span class="clearfix d-sm-inline-block">Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'users:register' %}">
                        <span class="clearfix d-sm-inline-block">Register</span>
                        </a>
                    </li>
                {% endif %}
                <!--social media-->
                <li class="nav-item">
                    <a href="#" class="nav-link waves-effect" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link waves-effect" target="_blank">
                    <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>