{% extends "core/base.html" %}
{% load static %}

{% block title %}
Bag 
{% endblock title %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'core/plugins/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/styles/single_responsive.css' %}">
{% endblock extrastyle %}

{% block content %}
<div class="container single_product_container">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="{% url 'core:order-summary' %}">Order</a></li>
                    <li class="active"><a href="javascirpt:void(0);"><i class="fa fa-angle-right" aria-hidden="true"></i>Bag</a></li>

                </ul>
            </div>
        </div>
    </div>
    {% include 'core/assets/messages.html' %}
    <div class="row">
        <div class="col-lg-8">
            <div class="table-responsive text-nowrap">
                <h2>Bag</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <img src="{{ order_item.item.image.url }}" class="img-fluid" alt="" width="5%" height="5%">
                                &nbsp;&nbsp;
                                <a href="{% url 'core:product' order_item.item.slug %}">{{ order_item.item.title }}</a>
                            </td>
                            <td>{{ order_item.item.price }}</td>
                            <td>
                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fa fa-minus mr-2"></i></a>
                                {{ order_item.quantity }}
                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fa fa-plus ml-2"></i></a>
                            </td>
                            <td>
                                {% if order_item.item.discount_price %}
                                ${{ order_item.get_total_discount_item_price }}
                                <span class="badge badge-primary hide">-&nbsp;${{ order_item.get_amount_saved }}</span>
                                {% else %}
                                ${{ order_item.get_total_item_price }}
                                {% endif %}
                                <a style="color: red;" href="{% url 'core:remove-from-cart' order_item.item.slug %}"><i class="fa fa-trash float-right"></i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Your cart is empty</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class="btn btn-lg btn-dark text-white float-right" href="{% url 'core:shop-catalog' %}">Continue Shopping</a>
                            </td>
                        </tr>
                        {% endfor %}

                        {% if object.coupon %}
                        {% for coupon in object.coupon.all %}
                        <tr>
                            <td colspan="4"><b>Coupon {{ coupon.code }}</b></td>
                            <td><b>-${{ coupon.amount }}</b></td>
                        </tr>
                        {% endfor %}
                        {% endif %}

                        {% if object.get_total %}
                        <tr>
                            <td colspan="4"><b>Order Total</b></td>
                            <td><b>${{ object.get_total }}</b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class="btn btn-lg btn-warning float-right m-2 text-white" href="{% url 'core:checkout' %}">Proceed to Checkout</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-lg btn-danger float-right m-2 text-white" href="{% url 'core:shop-catalog' %}">Continue Shopping</a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            {% include "core/shopping/order.html" %}
            {% include "core/shopping/address/address_form.html" %}
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'core/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'core/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'core/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'core/plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'core/plugins/easing/easing.js' %}"></script>
<script src="{% static 'core/plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'core/js/single_custom.js' %}"></script>
{% endblock extrascripts %}