{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="mt-5 pt-5">
    {% if messages %}
    <div class="container py-5">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="border-radius: 2rem;">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
    </div>
    {% endif %}
    <div class="container py-5">
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class="col-6 offset-3">
                    <h1>Update Profile</h1>
                    <form class="login" method="POST">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    <button class="btn btn-lg btn-warning" style="border-radius: 2rem;" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock content %}