{% extends 'base.html' %}
{% load static %}
{% block head %}
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media only screen and (max-width: 400px) {
      .hide{
        display: none;
      }
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
    .carousel-item {
      height: 65vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
{% endblock head %}

{% block content %}
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url({% static 'img/main.jpg' %})">
        <div class="carousel-caption d-none d-md-block">
          <!--<h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p>-->
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({% static 'img/main_two.jpg' %})">
        <div class="carousel-caption d-none d-md-block">
          <!--<h3 class="display-4">Second Slide</h3>
          <p class="lead">This is a description for the second slide.</p>-->
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({% static 'img/main_three.jpg' %})">
        <div class="carousel-caption d-none d-md-block">
          <!--<h3 class="display-4">Third Slide</h3>
          <p class="lead">This is a description for the third slide.</p>-->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
    </a>
  </div>
</header>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="border-radius: 2rem;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}
<section>
  <div class="container" style="position: relative;">
    <div class="col-12 py-5">
      <img src="{% static 'img/poster.jpg' %}" class="img-fluid rounded shadow d-block" />
      <div class="bg-white rounded shadow hide" style="position: absolute;width: 40%;padding: 20px;text-align: center;bottom: 30%;left: 30%;">
        <h3 class="">Exclusive</h3>
        <p class="lead">15% off + extra $10 with code 'YES'</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" style="position: relative;">
    <div class="col-12 py-5">
      <img src="{% static 'img/main_four.jpg' %}" class="img-fluid rounded shadow d-block" />
      <div class="bg-white rounded shadow hide" style="position: absolute;width: 40%;padding: 20px;text-align: center;bottom: 30%;left: 30%;">
        <h3 class="">Spring Sale</h3>
        <p class="lead">For now & later from $7.99</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      {% for item in items %}
      <!--<div class="col-lg-3 col-md-6 mb-4">
        <div class="card shadow zoom">
            <div class="view overlay">
                <img src="{{ item.image.url }}" class="card-img-top" alt="Product Image">
                <a href="{{ item.get_absolute_url }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body text-center">
                <a href="{{ item.get_absolute_url }}" class="grey-text">
                    <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                    <strong>
                                <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                    {% if item.inventory == 0 %}
                                        <span class="badge badge-pill {{ item.get_label_display }}-color">Sold Out</span>
                                    {% elif item.discount_price %}
                                        <span class="badge badge-pill {{ item.get_label_display }}-color">On Sale</span>
                                    {% endif %}
                                </a>
                    </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                            <strong>$ 
                                {% if item.discount_price  %}
                                    {{ item.discount_price }} <strike style="font-size: small;">{{ item.price }}</strike>
                                {% else %}
                                    {{ item.price }}
                                {% endif %}
                            </strong>
                </h4>
            </div>
        </div>
      </div>-->
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="{{ item.get_absolute_url }}"><img class="card-img-top" height="50%" src="{{ item.image.url }}" alt="Product Image"></a>
          <div class="card-body text-center">
            <a href="{{ item.get_absolute_url }}" class="grey-text">
              <h5>{{ item.get_category_display }}</h5>
            </a>
            <h5>
                <strong>
                            <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                {% if item.inventory == 0 %}
                                    <span class="badge badge-pill {{ item.get_label_display }}-color">Sold Out</span>
                                {% elif item.discount_price %}
                                    <span class="badge badge-pill {{ item.get_label_display }}-color">On Sale</span>
                                {% endif %}
                            </a>
                </strong>
            </h5>
            <h4 class="font-weight-bold blue-text">
                        <strong>$ 
                            {% if item.discount_price  %}
                                {{ item.discount_price }} <strike style="font-size: small;">{{ item.price }}</strike>
                            {% else %}
                                {{ item.price }}
                            {% endif %}
                        </strong>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffd700" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,154.7C384,128,480,64,576,80C672,96,768,192,864,240C960,288,1056,288,1152,256C1248,224,1344,160,1392,128L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
<section class="text-center p-5" style="background-color: #ffd700;">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-8">
              <h2 class="text-white mb-5s text-dark">
                Send a personalized e-gift card & get 10% back!
              </h2>
          </div>
          <div class="col-md-3 m-auto">
              <a href="{% url 'core:shop' %}" class="btn btn-danger btn-block btn-lg btn-round shadow" style="border-radius: 2rem;">Shop</a>
          </div>
      </div>
  </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffd700" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,154.7C384,128,480,64,576,80C672,96,768,192,864,240C960,288,1056,288,1152,256C1248,224,1344,160,1392,128L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
{% endblock content %}
