{% extends 'base.html' %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-5">
    {% if messages %}
    <div class="container py-5">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="border-radius: 2rem;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="container dark-grey-text py-5">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <img src="{{ item.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1 px-3 py-2" style="border-radius: 2rem;">{{ object.get_category_display }}</span>
              </a>
            </div>

            <!-- Item Title -->
            <h2>{{ object.title }}</h2>

            <p class="lead">
              {% if object.discount_price  %}
                <span class="mr-1">
                  <del>${{ object.price }}</del>
                </span>
                <span>${{ object.discount_price }}</span>
              {% else %}
                <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <!-- Item Available -->
            <p>
              <span class="font-weight-bold lead">Units Available</span>
              &nbsp;&nbsp;
              {% if object.inventory == 0 %}
                <span class="text-danger">Sold Out</span>
              {% else %}
                {{ object.inventory }}
              {% endif %}
            </p>

            <!-- Item Description -->
            <p>
              <span class="lead font-weight-bold">Description</span>
              &nbsp;&nbsp;
              {{ object.description }}
            </p>
            {% if request.user.is_superuser %}
            <a href="{% url 'core:item-update' object.id %}" class="btn btn-lg btn-warning" style="border-radius: 2rem;">Update</a>
            <a href="{% url 'core:item-delete' object.id %}" class="btn btn-lg btn-warning" style="border-radius: 2rem;">Delete</a>
            {% endif %}
            <!-- Add to cart button -->
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-lg btn-warning" style="border-radius: 2rem;">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <!--<a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                Remove from cart
            </a>-->
          </div>
          <!--Content-->

        </div>
      </div>

      <hr>

      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional information</h4>
          <p>{{ object.additional_info }}</p>
        </div>
      </div>

      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{{ item.image_sub_one.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ item.image_sub_two.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ item.image_sub_three.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
    </div>
  </main>
  <!--Main layout-->
{% endblock content %}